<html>

<head>
    <title>INNOVATION LAB - DEMO </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section class="header">
        <h1>XYZ E-Commerce Products</h1>
        <a class="btn-bgstroke">Products</a>
    </section>
    <h2 class="title">Find Similar Products By Image</h2>
    <div class="uploadColumn">
        <form action="{{ url_for('process_image') }}" method="post" enctype="multipart/form-data">
            <input type="file" id="myFile" name="filepath">
            <input type="submit" class="btn-bgstroke-submit">
            {% if dog_image %}
            <br />
            <img class="uploadedImg" src='data:image/jpeg;base64, {{dog_image}}' class="btn-bgstroke-submit" />
            {% endif %}
        </form>
    </div>

    <p>RESULTS</p>
    <div class="showColumn">
        {% for x in content %}
        <div class="imgCard">
            <img src={{ "./static/img/" + x["path"] }}> </img>
            <h4> {{ x["breed"] }} </h4>
        </div>
        {% endfor %}
    </div>
</body>

</html>